.DS_Store
LetsBuildThatApp-CoreData.xcodeproj/xcuserdata/ivenprillwitz.xcuserdatad/
LetsBuildThatApp-CoreData.xcworkspace/xcuserdata/ivenprillwitz.xcuserdatad/
LetsBuildThatApp-CoreData.xcodeproj/project.xcworkspace/xcuserdata/ivenprillwitz.xcuserdatad/
LetsBuildThatApp-CoreData.xcworkspace/xcshareddata/

